.navBar{
    position: fixed;
    top:0;
    height: 60px;
    width: 100%;
    background-color: var(--bg);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
    .navBarContent{
        width: 80%;
        display: flex;
        justify-content: space-between;

        @media (max-width:768px) {
            width: 90%;
        }

        .navBarTitle{
            font-size: 2em;
            font-weight: bold;
            letter-spacing: 1px;

            @media (max-width:768px) {
                font-size: 1.5em;
            }
            @media (max-width:400px) {
                font-size: 1em;
            }
            
        }

        .navBar-right{
            display: flex;
            gap:15px;

            @media (max-width:400px) {
                gap: 10px;
            }



            .theme{
                cursor: pointer;
                text-align: end;
            }
            .logout{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                cursor: pointer;

                @media (max-width:768px) {
                    font-size: 1.2em;
                }
                @media (max-width:400px) {
                    font-size: 0.8em;
                }

            }
        }


    }
}