.noteCard{
    height: 180px;
    width: 230px;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    background-color: #A0E7E5;


    @media (max-width:768px) {
        height: 150px;
        width: 200px;
        
    }
    @media (max-width:450px) {
        height: 80px;
        width: 100%;
        
    }
    

    .noteCard-Title{
        width: 100%;
        font-weight: 600;
        font-size: 20px;
        text-align: center;

        @media (max-width:450px) {
            text-align: left;
        }

    }
    .noteCard-Desc{
        flex: 1;
        padding-top: 5px;
        width: 100%;
        display: -webkit-box;
        text-overflow: ellipsis;     
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .noteCard-IconDiv{
        width: 100%;
        display: flex;
        justify-content: end;
        gap:2px;

        .noteCard-Icon{
            font-size: 1.3em;
            cursor: pointer;

            @media (max-width:400px) {
                font-size: 1em;
                
            }
        }

    }
}